extends ../layout/main

block variables
  - var title = 'JS single page app';
  - var description = 'JS only single page app';
  - var page-content = 'width=device-width, initial-scale=1.00'
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')
  example-component


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }